.noteComponent {
  display: inline-block;

  .p-card-content {
    height: 120px;
    display: grid;
    overflow: hidden;
    grid-template-rows: auto 1fr auto;
  }

  .noteHeader {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;

    .notePrivate {
      cursor: pointer;

      &:hover {
        color: #476fc4;
      }
    }

    h3 {
      margin: 10px auto;
    }
  }

  .noteBody {
    height: auto;
    overflow: hidden;

    * {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 354px;
    }
  }

  .noteControls {
    border-top: 1px solid rgb(75, 75, 75);
    padding: 6px 0;
  }
}
