#new-note {
  padding-top: 10px;

  #note-header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    grid-gap: 10px;

    #note-title {
      #input-title {
        width: 100%;
      }
    }

    #note-private {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 10px;
      align-items: center;
    }
  }

  #post-button {
    background-color: #476fc4;
    margin-top: 4px;
  }
}
